<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS 2</title>
    <link rel="stylesheet" href="assets/css/styles.css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="vue-app">
        <div class="vue-docs">
            <h1>Vue docs trial</h1>
            <div v-text="'Helll ' + name + ' ' + (12).toFixed(2)"></div>
            <div class="input">
                <input type="text" name="" v-model="age" lazy id="">
                <span v-once>{{ age }}</span>
            </div>
        </div>
        <div class="lesson-15">
            <a href="/components.html">Lesson 15</a>
        </div>
        <div class="lesson-14">
            <a href="/multiple-instance.html">Lesson 14</a>
        </div>
        <div class="lesson-13">
            <a href="/punchbag-game.html">Lesson 13</a>
        </div>
        <div class="looping-v-for">
            <h1>L12 Looping using v-for </h1>

            <h2>All Pets</h2>
            <ul class="all-pets">
                <li v-for="(petName, index) in pets">{{ index }}. {{ petName }}</li>
            </ul>

            <h2>Dogs</h2>
            <template v-for="dog in dogs"> <!--For clearner markup use template tag-->
                <h3>{{ dog.name }} is {{ dog.age }} y/o </h3>
            </template>

            <h2>Cats</h2>
            <template v-for="cat in cats">
                <h3 v-for="(val, key) in cat">{{ key }}: {{ val }}</h3>
            </template>
            <hr>
        </div>
        <div class="conditionals">
            <h1>L11 Conditionals</h1>
            <button v-on:click="error = !error">Toggle Error</button>
            <button v-on:click="success = !success">Toggle Success</button>
            <!-- <p v-if="error">There has been an error</p>
            <p v-else-if="success">Successfully</p> -->
            <p v-show="error">Error!</p>
            <p v-show="success">Success!</p>
            <hr>
        </div>
        <div class="dynamic-css">
            <h1>L10 Dynamic CSS</h1>
            <h2>Example 1</h2>
            <div v-on:click="available = !available" v-bind:class="{ available: available }">
                <span>Aigoo</span>
            </div>
            <h2>Example 2</h2>
            <button  v-on:click="nearby = !nearby"> Toggle Nearby </button>
            <button  v-on:click="available = !available"> Toggle Available </button>
            <div v-bind:class="compClasses">
                <span>Cornietta</span>
            </div>
            <hr>
        </div>
        <div class="computed-properties">
            <h1>L9  Computed Properties</h1>
            <button v-on:click="a++">Add to A</button>
            <button v-on:click="b++">Add to B</button>
            <p>A - {{ a }}</p>
            <p>B - {{ b }}</p>
            <p>Age + A = {{ addToA }} </p> <!-- Computed Properties has no () -->
            <p>Age + B = {{ addToB }} </p>
            <hr>
        </div>
        <div class="two-way-data-binding">
            <h1>L8 - Two-Way Data Binding</h1>
            <label for="">Name</label>
            <input type="text" name="name" v-model="name"> <br>
            <span>Name: {{ name }}</span> <br>
            <label for="">Age</label>
            <input type="text" name="age" v-model="age"> <br>
            <span>Age: {{ age }}</span>
            <hr>
        </div>
        <div class="keyboard-events">
            <h1>L7 - Keyboard Events</h1>
            <label for="">Name</label>
            <input type="text" name="name" v-on:keyup="logName">
            <label for="">Age</label>
            <input type="text" name="age" v-on:keyup="logAge">
            <hr>
        </div>            
        <div class="events">
            <h1>L6 - Events</h1>
            <button @click.once="add(1)" >Add a Year</button>
            <button v-on:click="subtract(1)">Subtract a Year</button>
            <button @dblclick="add(10)" >Add 10 Years</button>
            <button v-on:dblclick="subtract(10)">Subtract 10 Years</button>
            <p> My age is {{age}}</p>
            <div id="canvas" v-on:mousemove="updateXY" >{{x}}, {{y}}</div>
            <a v-on:click.prevent="click" href="http://arcylen.com">Portfolio</a>
        </div>
        <hr>
        <h1>{{ greet('Morning') }}</h1>
        <a v-bind:href="website" >Portfolio</a>
        <input type="text" name="name" :value="name" id="">
        <p v-html="websiteTag"></p> <!-- To output the html -->
        <h1>{{ name }}</h1> <!-- `name` object to data property on our Vue Instance -->
        <hr>
    </div>
    <script src="assets/js/app.js"></script>
</body>
</html>