<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Instance</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h1>Multiple Vue Instance</h1>
    <div id="vue-app-one">
        <h2>{{ title }}</h2>
        <p>{{ greet }}</p>
    </div>
    <div id="vue-app-two">
        <h2>{{ title }}</h2>
        <p>{{ greet }}</p>
        <button v-on:click="changeTitle"> Change App One title </button>
    </div>
    <script src="assets/js/multiple-instance.js"></script>
</body>
</html>