<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refs</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="vue-app">
        <h2>Refs</h2>
        <input type="text" ref="input">
        <button v-on:click="readRefs">Submit</button>
        <p>Your fav food: {{output}}</p>
        <div ref="test">Hello</div>
    </div>
    <script src="assets/js/refs.js"></script>
</body>
</html>